<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683996868748-n9814hecfugr3d3gm5684nldk217qhu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683996868748-n9814hecfugr3d3gm5684nldk217qhu7</string>
	<key>API_KEY</key>
	<string>AIzaSyC11-UvRTcD8glvlRwUkdbi3BcfcjSKNeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>683996868748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xcodetips.MixingApp-Final-Udacity-Project</string>
	<key>PROJECT_ID</key>
	<string>mixingapp-e2e66</string>
	<key>STORAGE_BUCKET</key>
	<string>mixingapp-e2e66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683996868748:ios:5722ff8997c76225690ba9</string>
	<key>DATABASE_URL</key>
	<string>https://mixingapp-e2e66.firebaseio.com</string>
</dict>
</plist>